# MongoDB
MONGO_URI=mongodb://localhost:27017/Constore

# JWT
JWT_SECRET=KKiiiuin
JWT_EXPIRE=30d

# Server
PORT=5137
NODE_ENV=development

# Cloudinary (for product images)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Razorpay (Payment Gateway)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Python Service
PYTHON_SERVICE_URL=http://localhost:8000
